# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# OS / Editor
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node
node_modules/
**/node_modules/

# Builds / caches
dist/
dist-ssr/
build/
coverage/
.next/
.vercel/
.cache/

# Env files (repo-wide)
.env
.env.*
server/.env
client/.env
